.logo {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
}

.logo text {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
}
