.logo {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 50px;
    height: auto;
}

.logo text {
    position: absolute;
    top: 50px;
    left: 160px;
    font-size: 20px;
    font-weight: bold;
}
